# Binaries
mausberry-switch
check_maus

# Packages
*.deb

# Autotools
.deps
.libs
*.bz2
*.la
*.lo
*.o
*.swp
*.trs
*~
aclocal.m4
ar-lib
autom4te.cache
compile
config.*
configure
depcomp
INSTALL
install-sh
intltool-*
libtool
ltmain.sh
Makefile
Makefile.in*
missing
mkinstalldirs
po/.intltool-merge-cache
po/*.gmo
POTFILES
stamp-*
test-driver
