mausberry-switch

*~
*.o
*.lo
*.la
*.bz2
*.swp
Makefile
Makefile.in*
configure
compile
config.*
aclocal.m4
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
stamp-*
.deps
.libs
autom4te.cache
intltool-*
po/*.gmo
po/.intltool-merge-cache
m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt*.m4
