# Binaries
mausberry-switch

# Packages
*.deb

# Autotools
.deps
.libs
*.bz2
*.la
*.lo
*.o
*.swp
*~
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
INSTALL
install-sh
intltool-*
libtool
ltmain.sh
Makefile
Makefile.in*
missing
mkinstalldirs
po/.intltool-merge-cache
po/*.gmo
POTFILES
stamp-*
