Source: mausberry-switch
Maintainer: Tom Richards <tom@tomrichards.net>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9)

Package: mausberry-switch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:depends}
Description: Daemon for Mausberry hardware.
 Monitors a Mausberry switch on GPIO.
 When a low signal is received, the daemon will shut down the system.
