[Unit]
Description=Mausberry switch GPIO monitoring daemon
After=syslog.target

[Service]
ExecStart=/usr/bin/mausberry-switch
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
