[Unit]
Description=Mausberry switch GPIO monitoring daemon

[Service]
ExecStart=/usr/bin/mausberry-switch
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
